<div class="welcome-page">
  <table class="demo-table">
    <thead>
      <tr>
        <td>Username</td>
        <td>Birthday</td>
        <td>Description</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.username}}</td>
        <td>{{formateDate(user.birthday)}}</td>
        <td>{{user.description}}</td>
        <td>
          <button pButton type="button" label="Update" class="ui-button-rounded"></button>
          <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger" (click)="removeUser(user.id)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button pButton type="button" label="Add New user" class="ui-button-rounded" (click)="addNewUser()"></button>
  </div>
</div>
